# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [16]:
numberFloat = 2.3
print(numberFloat)

numberFloat = 2.5
print(numberFloat)

2.3
2.5

#### Performing Calculations on ints and floats

##### Addition

In [19]:
num1 = 2
num2 = 5.4

result = num1 + num2
print(result)

#Shorthand version
result += 1
print(result)

7.4
8.4

##### Subtraction

In [21]:
result_diff = 5 - 2
print(result_diff)

#Shorthand version
result_diff -= 2
print(result_diff)

3
1

##### Multiplication

In [23]:
result_mul = num1 * num2
print(result_mul)

#Shorthand version
result_mul *= 3
print(result_mul)

10.8
32.400000000000006

##### Division

In [25]:
result_div = num2/num1
print(result_div)

#Shorthand version
result_div /= 2
print(result_div)

2.7
1.35

##### Floor Division

In [140]:
result_floor = num2 // num1
print(result_floor)

#shorthand version
result_floor //=2
print(result_floor)

2.0
1.0

##### Modulo

In [148]:
result_mod = 100 % 30
print(result_mod)

#shorthand version
result_mod %= 2
print(result_mod)

10
0

##### Exponential

In [150]:
square = 5 ** 2
print(square)

#Shorthand version
square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [3]:
name = 'Ian'
print(name)

Ian

##### print() <br>
<p>Don't forget about end=' '</p>

In [23]:
print("This is my first name: ", name)

#Adding "end = ' '
print("Full name: ", name, end = ' Glish')

#using apostrofy and quote marks simultaninously
print('(\nSay, "Hello!" ', name)

This is my first name:  Ian
Full name:  Ian Glish(
Say, "Hello!"  Ian

##### String Concatenation

In [43]:
first_name = 'John'
last_name = 'Smith'

full_name = first_name + last_name
print(full_name)
# ^needing to add space, which will be shown below
full_name = first_name + " " + last_name
print(full_name)

#shorthand method
full_name += " Jr"
print(full_name)

JohnSmith
John Smith
John Smith Jr
John Smith Jr

##### Type Conversion

In [53]:
number = "32"
# ^ This above is a string in its current form
change_type_num = int(number)
change_type_num += 5
print(change_type_num)

37

##### input()

In [61]:
#input() WILL ALWAYS RETURN A STRING!!! ALL THE TIME!

#name = input("What is your name? ")
#print(name)

age = input("How old are you? ")
new_age = int(age) + 1
# ^ doing type conversion to take a string and make it into a int using int()
print(new_age)

How old are you?  32

33

##### format()

In [3]:
age = input("What is your age? ")
name = input("What is your name? ")

result_string = "You are {}, you are {} years old and you are getting wiser!".format(name, age)
# ^OOP (Obejct Oriented Programming)
print(result_string)

#second way of fomatting(used before)
result_again = f"{age} is a great time in life!"
print(result_again)

What is your age?  32
What is your name?  Ian

You are Ian, you are 32 years old and you are getting wiser!
32 is a great time in life!

##### Old Way (python 2)

In [ ]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [1]:
make = input("What brand is your car? ")
model = input("What model is your car? ")
year = input("What year is your car? ")
color = input("What color is your car? ")

#object oriented programing way:
total_answer = "You have a {} {} {} {} as a car.".format(year, color, make, model)
print(total_answer)

#Second way, using formating
second_way = f"\nYou have a {year} {color} {make} {model} as a car"
print(second_way)

What brand is your car?  Mercedes
What model is your car?  E350
What year is your car?  2024
What color is your car?  White

You have a 2024 White Mercedes E350 as a car.

You have a 2024 White Mercedes E350 as a car

### If Statements

In [93]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=) Not Equal (!=)

num1 = 5
num2 = 10

#if - else statement
if num1 == num2:
    print("Equal Values")
else:
    print("Not Equal!")

#if-else-elif statements
if num2 > num1:
    print("Num2 is greater than")
elif num2 < num1:
    print("Num2 is less than")
else:
    print("They're the same")

Not Equal!
Num2 is greater than

##### 'is' keyword

In [3]:
# USE 'IS' when checking for the same or similar object, NOT the same value

num3 = 55
num4 = num3
if num3 is num4:
    print("This is the exact same number")

This is the exact same number

##### 'in' keyword

In [107]:
char_name = "Max Payne"

if "Max" in char_name:
    print("The character who lost eveything...")

The character who lost eveything...

##### 'not in' keyword'

In [109]:
sega_char = 'Sonic'

if 'a' not in sega_char:
    print("a is NOT HERE")

a is NOT HERE

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [119]:
question = input("What did you have for dinner?")
if 'p' in question:
    print("There is a P in the input")
else:
    print("There is no P in the input")

What did you have for dinner? Blue cheese burger

There is no P in the input

## Using 'and'/'or' with If Statements

In [129]:
# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

first_name = "Max"
age = 10

if first_name == 'Max' and age == 10:
    print("I am Max and I am 10")
elif first_name == "Max" or age == 10:
    print("I am either Max or I am 10")

I am Max and I am 10

### Elif Statements

In [ ]:
# elif is used in conditional statements(if statements) and is short for else if
# used after a if statement to check for another conditional

### Else Statements

In [48]:
# else is used in conditional statements(if statements) and decides what to do if the condition is False
# final conditional used in a if statement

### For Loops

In [155]:
# for item in iterable_thing:
    #do some stuff
name = "Brandon Apol"

for letter in name:
    print(letter)

#range() example
#doing a task a set number of times
for letter in range(10): #range()can only accept integers!!
    print(letter)

#len() example
print(len(name))

B
r
a
n
d
o
n

A
p
o
l
0
1
2
3
4
5
6
7
8
9
12

##### Using 'in' keyword

In [165]:
name = "Brandon Apol"

for letter in range(len(name)):
    print(letter)

0
1
2
3
4
5
6
7
8
9
10
11

##### Continue Statement

In [53]:
# will continue to next iteration

#common practice to use 'i' for variable name(but customizable)

In [163]:
for i in range(20):
    if i == 5:
        continue
    print(i)
# ^ this example goes from 0-4 then 6-19

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [55]:
# will break out of current loop

In [167]:
for i in range(20):
    if i == 5:
        break
    print(i)
# ^ much shorter as the loop breaks once the desired value is found

0
1
2
3
4

##### Pass Statement

In [57]:
# mostly used as a placeholder, and will continue on same iteration

In [7]:
for i in range(20):
    pass
# I will come back and finish my code later!

##### Double For Loops

In [9]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [59]:
#while condition statement (something that is true or false):
    #do some stuff repeatedly

#ideal example below:
num = 0
while num < 10:
    print(num)
    num += 1

#second example for the same example above^ (first way is better and more simple)
num = 0
while True:
    if num >= 10:
        break
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [ ]:
game_running = True
score = 0

while game_running:
    user_input = input("Say some stuff ")
    if user_input == "quit":
        game_running = False
    print(user_input)
    score += 1
    print(f"Score: {score}")

Say some stuff  meow

meow
Score: 1

Say some stuff  more meow

more meow
Score: 2

##### While & For Loops Used Together

In [15]:
num = 0
while num < 5:
    print ("\n While Loop Iteration: " + str(num))
    
    for i in range(2):
        print("For Loop Iteration: " +str(i))

    num+=1

 While Loop Iteration: 0
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 1
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 2
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 3
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 4
For Loop Iteration: 0
For Loop Iteration: 1

### Built-In Functions

##### range()

In [19]:
# range(start, stop, step)
# Defaults: start = 0, stop IS REQUIRED, step = 1
for i in range(2,20,3):
    print(i)

2
5
8
11
14
17

##### len()

In [21]:
name = "Max"

length = len(name))
print(length)
# or in line of code: print(len(name))

3

##### help()

In [27]:
#A way to use code to get help within the window you are working in
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [33]:
print(isinstance(4.5,int))

if isinstance(4.5,float):
    print("\nThis number is a float type")

False

This number is a float type

##### abs()

In [35]:
#Return the absolute value of a number
#Absolute value can be thought of as the number's distance from 0
#ex) -3 or 3, the absolute value is 3 for eithe number
# | 5 |

print(abs(-5))

5

### Try and Except

In [39]:
# Use this whenever you expect to encounter a bug so that the error doesnt cause the program to stop
# Use this to log out graceful and informative error messages

try:
    number_test = 0
    input = int(input("Guess a number"))
    if input_num != number_test:
        input_num = input_num + number_test
        print("Your number is: " + str(input_num))
except:
    print("That did not work - ERROR: Please change your input to a number")

Guess a number 8

That did not work - ERROR: Please change your input to a number

### Lists

##### Declaring Lists

In [33]:
# empty list
my_list = []

names = ['Max', 'Cindy', 'Kathy', 5, 'Nate']
print(names)

['Max', 'Cindy', 'Kathy', 5, 'Nate']

##### Indexing a List

In [35]:
#Syntax: list_name[start:stop:step]

# Single Index
print(names[0])

# Print the last value NO MATTER THE SIZE OF THE LIST!
print(names[-1])

# Print starting at position 1 and continue going to the end
print(names[1:])

# Print starting at the beginning of the list until the whatever index we give it
print(names[:3])

# Print from one index to another (slicing)
print(names[2:4])

# Print starting at index 1 going up by 2 for each iteration
print(names[1::2])

# Print starting at the end and going down by 1 each time (reversing the list)
print(names[::-1])

# ** slicing only temporarily(non perminentally) modifies the list (makes a copy)

Max
Nate
['Cindy', 'Kathy', 5, 'Nate']
['Max', 'Cindy', 'Kathy']
['Kathy', 5]
['Cindy', 5]
['Nate', 5, 'Kathy', 'Cindy', 'Max']

##### .append()

In [37]:
# .append() adds a new item to a list at the end of the list
# .append() perminently modifies the list

names.append("Bob")
print(names)

['Max', 'Cindy', 'Kathy', 5, 'Nate', 'Bob']

##### .insert()

In [39]:
# inserts a value into the list in a specific position
names.insert(3,'Gabby')
print(names)

['Max', 'Cindy', 'Kathy', 'Gabby', 5, 'Nate', 'Bob']

##### .pop()

In [41]:
# default is the last value if no parameter is given
# pop returns the element that was removed incase you want to assign it into a variable
#removes the last value in a last, but able to move it to another list

my_name = names.pop(3)#specific index in ()
print(my_name)
print(names)

Gabby
['Max', 'Cindy', 'Kathy', 5, 'Nate', 'Bob']


##### .remove()

In [43]:
# Value to be removed, not the index

names.remove('Bob')
print(names)

#Remove multiple Bobs from the list using a while loop (fancier example)
while 'Bob' in names:
    names.remove('Bob')
print(names)

['Max', 'Cindy', 'Kathy', 5, 'Nate']

##### del()

In [45]:
# Be careful, as it can cause indexing errors if used improperly
# remove by index

del(names[1])
print(names)

['Max', 'Kathy', 5, 'Nate']

##### Concatenating Two Lists

In [49]:
# Syntax: list_C = list_A + list_B

first_list = [0, 1, 2]
second_list = [3, 4, 5]

big_list = first_list + second_list
print(big_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [51]:

names = ['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]

print(names)
print(names[3][1]) #Indexing the list within the list

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
Sue

##### Looping Through Lists

In [57]:
# Two ways of doing this: 1 - using index, 2 - using 'in' keyword

# With a for loop using the index
for i in range(len(names)):
    print(names[i])

# Loop with a for loop and in
for name in names:
    print(name)

Max
Sam
Josh
['Sally', 'Sue', 'Tameka']
Max
Sam
Josh
['Sally', 'Sue', 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [61]:
number = 0

while number**3 <= 1000:
    print(number**3)
    number += 1
    if number**3 > 1000:
        break

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [4]:
for number in range(2,101):
    if number <= 3:
        print(f"{number} is prime")
    elif 4 <=number <= 8 and number % 2 == 1:
        print(f"{number} is prime")
    if number % 2 == 0:
        continue 
    elif number % 3 == 0:
        continue
    elif number % 5 == 0:
        continue
    elif number % 7 == 0:
        continue
    else:
        print(f"{number} is prime")

2 is prime
3 is prime
5 is prime
7 is prime
11 is prime
13 is prime
17 is prime
19 is prime
23 is prime
29 is prime
31 is prime
37 is prime
41 is prime
43 is prime
47 is prime
53 is prime
59 is prime
61 is prime
67 is prime
71 is prime
73 is prime
79 is prime
83 is prime
89 is prime
97 is prime

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [6]:
age = input("What is your age?: ")
age = int(age)

if age < 18:
    print("Kids")
elif 18 <= age <= 65:
    print("Adults")
else:
    print("Seniors")

What is your age?:  19

Adults